{% extends 'base.html' %}

{% block meta %}
<title>Todolist</title>
{% endblock meta %}

{% block content %}

<nav class="navbar" style="background-color: #e3f2fd; border-radius: 10px;">
  <h2>Selamat datang di todolist-mu, {{user}}</h2>
  <a href="{% url 'todolist:logout' %}" class="btn btn-danger">Logout</a>
</nav>

<body style="background-color:rgb(51, 248, 215); border-radius: 12px;">
  <br>
  <a href="{% url 'todolist:create_task' %}" class="btn btn-success btn-lg">Tambah Task Baru</a>
  <div class="container">
    <br>
    {% if todolist %}
    <br>
    <div class="row">
      {% for task in todolist %}
      <div class="col-sm-4">
        <div id="hvr-sweep-to-right" class="card text-center" style="margin: 15px 0;">
          <div class="card-header">
            Status penyelesaian:
            {% if task.is_finished %}✅
            {% else %}❌
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{task.title}}</h5>
            <p class="card-text">{{task.description}}</p>
            <a id="test" href="{% url 'todolist:update_task_status' task.id %}" class="btn btn-info btn-sm">Ubah Status</a>
            <a href="{% url 'todolist:delete_task' task.id %}" class="btn btn-warning btn-sm">Hapus</a>
          </div>
          <div class="card-footer text-muted">
            {{task.date}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="d-flex align-items-center justify-content-center" style="height: 50vh;">
      <div>
        <h6>Tidak ada task, silakan tammbahkan task baru</h6>
      </div>
    </div>
    {% endif %}
  </div>
</body>

<script>
  var coba = document.getElementById("test")
  console.log(coba)
</script>
{% endblock content %}