{% extends 'base.html' %}

 {% block content %}

  <h1>Assignment 2 PBP/PBD</h1>

  <h3>Name: </h3>
  <p>{{name}}</p>

  <h3>Student ID: </h3>
  <p>{{id}}</p>
  
  <h3>{{jumlah_tontonan}}</h3>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for movie in my_watch_list %}
    <tr>
        <th>{{movie.watched}}</th>
        <th>{{movie.title}}</th>
        <th>{{movie.rating}}</th>
        <th>{{movie.release_date}}</th>
        <th>{{movie.review}}</th>
    </tr>
    {% endfor %}
  </table>

 {% endblock content %}
